.userName {
    color: #fff;
    display: flex;
    align-self: center;
    padding-right: 32px;
    padding-left: 4px;
}

.userAvatar {
    color: #fff;
    display: flex;
    align-self: center;
    padding-left: 32px;
    padding-right: 4px;
}

.button {
    display: flex;
    height: auto;
    background: #0F62FE;
    color: white;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

.button:hover {
    background: #0353E9;
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
}