apiVersion: apps/v1
kind: Deployment
metadata:
  name:  cron
  labels:
    run:  cron
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      run:  cron
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        run:  cron
    spec:
      containers:
      - image:  moficodes/ibmcloud-kubernetes-cron:v0.2.7
        imagePullPolicy: Always
        name:  cron
        env:
          - name: CLOUDANT_USER_NAME
            valueFrom: 
              secretKeyRef:
                name: cloudant-secret
                key: username
          - name: CLOUDANT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: cloudant-secret
                key: password
          - name: CLOUDANT_HOST
            valueFrom:
              secretKeyRef:
                name: cloudant-secret
                key: host
          - name: TICKER_PERIOD
            value: "3600"
          - name: SENDGRID_API_KEY
            valueFrom:
              secretKeyRef:
                name: sendgrid-secret
                key: apikey
          - name: ADMIN_FROM_EMAIL
            value: iksadmin@ibm.com
          - name: ADMIN_TO_EMAIL
            value: moficodes@ibm.com,awesome@ibm.com
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 500m
            memory: 1Gi
      restartPolicy: Always