.userName {
    color: #fff;
    display: flex;
    align-self: center;
    padding-right: 32px;
    padding-left: 4px;
}

.userAvatar {
    color: #fff;
    display: flex;
    align-self: center;
    padding-left: 32px;
    padding-right: 4px;
}

.homeForm {
    margin-top: 60px;
    margin-left: 60px;
}